{% extends 'base.html.twig' %}

{% block title %}Overview{% endblock %}

{% block page_title %}
    <h4><span class="font-weight-semibold">Overview</span></h4>
{% endblock %}

{% block breadcrum %}
    <a href="{{ path('roster') }}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Overview</a>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="icon-users icon-3x text-success-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 class="font-weight-semibold mb-0">{{ totalMembre }}</h3>
                        <span class="text-uppercase font-size-sm text-muted">Nombre de joueurs</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="icon-stats-growth icon-3x text-indigo-400"></i>
                    </div>

                    <div class="media-body text-right">
                        <h3 class="font-weight-semibold mb-0">{{ ilvlMoy|round(2,'common') }}</h3>
                        <span class="text-uppercase font-size-sm text-muted">iLvl moyen</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="media-body">
                        <h3 class="font-weight-semibold mb-0">{{ lvlCollierMoy|round(2,'common') }}</h3>
                        <span class="text-uppercase font-size-sm text-muted">Niveau collier moyen</span>
                    </div>

                    <div class="ml-3 align-self-center">
                        <i class="icon-medal2 icon-3x text-blue-400"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card card-body">
                <div class="media">
                    <div class="media-body">
                        <h3 class="font-weight-semibold mb-0">{{ lvlCapeMoy|round(2,'common') }}</h3>
                        <span class="text-uppercase font-size-sm text-muted">Niveau cape moyenne</span>
                    </div>

                    <div class="ml-3 align-self-center">
                        <i class="icon-star-empty3 icon-3x text-danger-400"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Roster</h1>
            <div class="card">
                <div class="card-body">
                    <table class="table table-condensed table-bordered table-striped" id="roster">
                        <thead>
                            <tr>
                                <th>Joueur</th>
                                <th>Personnage</th>
                                <th>Classe</th>
                                <th>Spécialisation</th>
                                <th>Rôle</th>
                                <th>i lvl</th>
                                <th>level Collier</th>
                                <th>level Cape</th>
                            </tr>
                            <tr id="filter-td">
                                <th><input type="text" class="form-control"></th>
                                <th><input type="text" class="form-control"></th>
                                <th><select class="form-control classe"><option value="">Toutes</option>{% for classe in classes %}<option value="{{ classe.nom }}">{{ classe.nom }}</option>{% endfor %}</select></th>
                                <th><select class="form-control spe"><option value="">Toutes</option>{% for spe in specialisations %}<option value="{{ spe.nom }}" data-classe="{{ spe.classe.nom }}">{{ spe.nom }}</option>{% endfor %}</select></th>
                                <th><select class="form-control"><option value="">Tous</option><option value="Tank">Tank</option><option value="Heal">Heal</option><option value="Cac">Cac</option><option value="Cast">Cast</option></select></th>
                                <th><input type="text" class="form-control"></th>
                                <th><input type="text" class="form-control"></th>
                                <th><input type="text" class="form-control"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="separator">
                                <td colspan="8" class="text-center lead">Tank</td>
                            </tr>
                            {% for perso in tankRoster %}
                                <tr>
                                    <td class="text-center">{{ perso.joueur.nom }}</td>
                                    <td class="text-center">{{ perso.pseudo }}</td>
                                    <td style="background-color: {{ perso.classe.color }}" class="text-center">{{ perso.classe.nom }}</td>
                                    <td class="text-center">{{ perso.spe1.nom }}</td>
                                    <td class="text-center">{{ perso.spe1.role }}</td>
                                    <td>{{ perso.ilevel }}</td>
                                    <td>{{ perso.levelCollier }}</td>
                                    <td>{{ perso.levelCape }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="separator">
                                <td colspan="8" class="text-center lead">Heal</td>
                            </tr>
                            {% for perso in healRoster %}
                                <tr>
                                    <td class="text-center">{{ perso.joueur.nom }}</td>
                                    <td class="text-center">{{ perso.pseudo }}</td>
                                    <td style="background-color: {{ perso.classe.color }}" class="text-center">{{ perso.classe.nom }}</td>
                                    <td class="text-center">{{ perso.spe1.nom }}</td>
                                    <td class="text-center">{{ perso.spe1.role }}</td>
                                    <td>{{ perso.ilevel }}</td>
                                    <td>{{ perso.levelCollier }}</td>
                                    <td>{{ perso.levelCape }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="separator">
                                <td colspan="8" class="text-center lead">Cac</td>
                            </tr>
                            {% for perso in cacRoster %}
                                <tr>
                                    <td class="text-center">{{ perso.joueur.nom }}</td>
                                    <td class="text-center">{{ perso.pseudo }}</td>
                                    <td style="background-color: {{ perso.classe.color }}" class="text-center">{{ perso.classe.nom }}</td>
                                    <td class="text-center">{{ perso.spe1.nom }}</td>
                                    <td class="text-center">{{ perso.spe1.role }}</td>
                                    <td>{{ perso.ilevel }}</td>
                                    <td>{{ perso.levelCollier }}</td>
                                    <td>{{ perso.levelCape }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="separator">
                                <td colspan="8" class="text-center lead">Cast</td>
                            </tr>
                            {% for perso in castRoster %}
                                <tr>
                                    <td class="text-center">{{ perso.joueur.nom }}</td>
                                    <td class="text-center">{{ perso.pseudo }}</td>
                                    <td style="background-color: {{ perso.classe.color }}" class="text-center">{{ perso.classe.nom }}</td>
                                    <td class="text-center">{{ perso.spe1.nom }}</td>
                                    <td class="text-center">{{ perso.spe1.role }}</td>
                                    <td>{{ perso.ilevel }}</td>
                                    <td>{{ perso.levelCollier }}</td>
                                    <td>{{ perso.levelCape }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Reroll</h1>
        </div>
        <div class="col-xl-6 col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                            <tr class="separator">
                                <td colspan="4" class="text-center lead">Tank</td>
                            </tr>
                            <tr>
                                <th></th>
                                <th>Classe</th>
                                <th>Spécialisation</th>
                                <th>ilvl-col.-cape</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for perso in tankReroll %}
                                <tr>
                                    <td class="text-center">{{ perso.pseudo }}</td>
                                    <td style="background-color: {{ perso.classe.color }}" class="text-center">{{ perso.classe.nom }}</td>
                                    <td class="text-center">{{ perso.spe1.nom }}</td>
                                    <td>{{ perso.ilevel }}-{{ perso.levelCollier }}-{{ perso.levelCape }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                        <tr class="separator">
                            <td colspan="4" class="text-center lead">Cac</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Classe</th>
                            <th>Spécialisation</th>
                            <th>ilvl-col.-cape</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for perso in cacReroll %}
                            <tr>
                                <td class="text-center">{{ perso.pseudo }}</td>
                                <td style="background-color: {{ perso.classe.color }}" class="text-center">{{ perso.classe.nom }}</td>
                                <td class="text-center">{{ perso.spe1.nom }}</td>
                                <td>{{ perso.ilevel }}-{{ perso.levelCollier }}-{{ perso.levelCape }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                        <tr class="separator">
                            <td colspan="4" class="text-center lead">Heal</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Classe</th>
                            <th>Spécialisation</th>
                            <th>ilvl-col.-cape</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for perso in healReroll %}
                            <tr>
                                <td class="text-center">{{ perso.pseudo }}</td>
                                <td style="background-color: {{ perso.classe.color }}" class="text-center">{{ perso.classe.nom }}</td>
                                <td class="text-center">{{ perso.spe1.nom }}</td>
                                <td>{{ perso.ilevel }}-{{ perso.levelCollier }}-{{ perso.levelCape }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                        <tr class="separator">
                            <td colspan="4" class="text-center lead">Cast</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Classe</th>
                            <th>Spécialisation</th>
                            <th>ilvl-col.-cape</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for perso in castReroll %}
                            <tr>
                                <td class="text-center">{{ perso.pseudo }}</td>
                                <td style="background-color: {{ perso.classe.color }}" class="text-center">{{ perso.classe.nom }}</td>
                                <td class="text-center">{{ perso.spe1.nom }}</td>
                                <td>{{ perso.ilevel }}-{{ perso.levelCollier }}-{{ perso.levelCape }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function ($) {
            $(".classe").change(function(){
                let classe = $(this).val();
                $(".spe option").removeClass('hide');
                if (classe !== ""){
                    $(".spe option").each(function(){
                       if($(this).data('classe') !== classe){
                           $(this).addClass('hide');
                       }
                    });
                }
            });
            $("#filter-td input").keyup(function(){
                let index = $(this).parent().index();
                let search = $(this).val().toLowerCase();

                $('#roster tbody tr:not(.separator)').each(function() {
                    var $that = $(this);
                    if ($that.find('td').eq(index).text().toLowerCase().indexOf(search) === -1)
                        $that.addClass('hide');
                    else
                        $that.removeClass('hide');
                });
            });
            $("#filter-td select").change(function(){
                let index = $(this).parent().index();
                let search = $(this).val();

                $('#roster tbody tr:not(.separator)').each(function() {
                    var $that = $(this);
                    if ($that.find('td').eq(index).text().indexOf(search) === -1)
                        $that.addClass('hide');
                    else
                        $that.removeClass('hide');
                });
            });
        });
    </script>
{% endblock %}
