<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Focus TDM Roster{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="{{asset('global_assets/css/icons/icomoon/styles.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets/css/bootstrap_limitless.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets/css/layout.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets/css/components.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets/css/colors.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('assets/css/custom.css')}}" rel="stylesheet" type="text/css">

        <script src="{{asset('global_assets/js/main/jquery.min.js')}}"></script>
        <script src="{{asset('global_assets/js/main/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('global_assets/js/plugins/loaders/blockui.min.j')}}"></script>
        <script src="{{asset('global_assets/js/plugins/ui/ripple.min.js')}}"></script>
        <script src="{{asset('assets/js/app.js')}}"></script>
    </head>

    <body>
        <div class="navbar navbar-expand-md navbar-dark bg-indigo navbar-static">
            <div class="navbar-brand">
                <a href="#" class="d-inline-block">
                </a>
            </div>

            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link">
                        <i class="icon-switch2"></i>
                        <span class="d-md-none ml-2">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content">
            <div class="content-wrapper">
                <div class="page-header page-header-light">
                    <div class="page-header-content header-elements-md-inline">
                        <div class="page-title d-flex">
                            {% block page_title %}
                                <h4><span class="font-weight-semibold">Home</span> - Dashboard</h4>
                            {% endblock %}
                        </div>
                        <div class="header-elements d-none">
                            <div class="d-flex justify-content-center">
                                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default">
                                    <i class="icon-bars-alt text-pink-300"></i>
                                    <span>Statistics</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                        <div class="d-flex">
                            <div class="breadcrumb">
                                {% block breadcrum %}
                                    <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                                    <span class="breadcrumb-item active">Dashboard</span>
                                {% endblock %}

                            </div>

                            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    {% block body %}
                    {% endblock %}
                </div>
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="text-center d-lg-none w-100">
                        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                            <i class="icon-unfold mr-2"></i>
                            Footer
                        </button>
                    </div>

                    <div class="navbar-collapse collapse" id="navbar-footer">
                        <span class="navbar-text">
                            &copy; 2020. <a href="#">Focus TDM Roster</a> by <a href="http://saw-dev.info" target="_blank">Sawsyn & Dro</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
